.company-tab {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #212121;
}

.company-tab::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

// .company-tab-active::before {
//     background-color: #212121;
// }
.company-tab-active {
    border-bottom: 4px solid #212121;
}