.register-container{
    width: 40%;
    height: max-content;
    background: #fff;
    border-radius: 30px;
    height: 70vh;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.register-modal{
    border-radius: 20px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./../../assets/images/background.webp");
}