.App {
    text-align: center;
}
.form-signin {
    width: 100%;
    max-width: 60%;
    padding: 15px;
    align-items: center;
    height: 60%;
    background: #fff;
    border-radius: 20px;
    margin: auto;
}

.b-title{
    border-left: 6px solid #000
}
